body {
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
}

h3 {
  font-family: 'Dosis', sans-serif;
}
p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

#faceshot {
  margin-top: 10px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.projects a {
  display: block;
  text-align: center;
  line-height: 1.5;

  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#project-links {
  margin-top: -15px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#linkedin-logo {
  padding-top: 40px;
  height: 56px;
  width: 205px;
}

#github-logo {
  padding-top: 40px;
  height: 67px;
  width: 200px;
}

#twitter-logo {
  padding-top: 55px;
  height: 38px;
  width: 200px;
}

#instagram-logo {
  height: 157px;
  width: 162px;
}

.resume {
  position: relative;
  margin: 50px auto;

  border-style: solid;
  border-width: thin;
  border-color: darkgrey;
  overflow: hidden;

  width: 800px;
  height: 1200px;
}

#resume-img {
  max-width: 100%;
  max-height: 100%;
}

/* ---------- Responsive Web Design Media Tags ---------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .logos {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  #instagram-logo {
    padding-top: 40px;
  }
  .resume {
    width: 280px;
    height: 420px;
  }
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 767){
  .logos {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  #instagram-logo {
    padding-top: 40px;
  }
  .resume {
    width: 280px;
    height: 420px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px){
  .logos {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  #instagram-logo {
    padding-top: 40px;
  }
  .resume {
    width: 250px;
    height: 375px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .logos {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .resume {
    width: 650px;
    height: 975px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
  .logos {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .resume {
    width: 700px;
    height: 1050px;
  }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .logos {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .resume {
    width: 1000px;
    height: 1500px;
  }
}
