body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header {
  color: white;
  background-color: rgb(33,202,161);
  padding: 10px;
}

nav {
  margin-top: 25px;
}

a {
  text-decoration: none;
  margin: 10px;
  color: black;
}

h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
}

h2 {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 800;
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

.locations {
  margin: 30px 0px;
  padding: 10px;
}

.maui, .aspen {
  background-color: rgb(198,223,251);
}

.reykjavik {
  background-color: rgb(197,242,228);
}

footer {
  font-size: 14px;
  margin-bottom: 30px;
}
