body {
  text-align: left;
  width: 720px;
  padding: 54px;
  border-left: solid 6px #dddddd;
  color: #444444;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

h1 {
  color: #dd0000;
  font-weight: lighter;
  font-size: 48px;
  margin-bottom: 0;
}

h2 {
  color: #000;
  font-weight: lighter;

  margin-top: 0;
  margin-bottom: 2px;
}

.top-nav a {
  font-size: 20px;
  margin-right: 18px;
  color: #dddddd;
}

.top-nav a:hover {
  color: #aa0000;
}

article {
  border-bottom: solid 1px #cccccc;
  margin: 40px 0;
}

time {
  color: #cccccc;
  font-size: 36px;
  margin-top: 50px;
}

img {
  width: 720px;
}

article h3 {
  color: #000;
  font-size: 36px;
  font-weight: lighter;
  margin: 2px;
}

article a {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #dd0000;
  font-weight: bolder;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

footer a {
    color: #dd0000;
    font-size: 18px;
}

footer a:hover {
    color: #dddddd;
    font-size: 18px;
}

footer h4 {
  color: #bbbbbb;
}
